<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Page count:</strong>
    <%= book.page_count %>
  </p>

  <p>
    <strong>Published on:</strong>
    <%= book.published_on %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= book.language %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book.category_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

</div>
