<div class="container-2">
  <div class="row mt-5">
    <div class="col-md-6">
      <img class="w-100" src="<%= Faker::LoremFlickr.image(search_terms: ['book', 'cover'], match_all: true) %>" alt="book cover">
    </div>
    <div class="col-md-6">
      <h1 class="text-primary mb-3"><%= @book.title %></h1>
      <div class="book-info mb-4">
        <div class="book-info-label">Status:</div>
        <div class="book-info-value"><%= @book.status_for(current_user) %></div>
      </div>
      <div class="book-info mb-4">
        <div class="book-info-label">Author:</div>
        <div class="book-info-value"><%= @book.author.full_name %></div>
      </div>
      <div class="book-info mb-4">
        <div class="book-info-label">Year Published:</div>
        <div class="book-info-value"><%= @book.year %></div>
      </div>
      <div class="book-info mb-4">
        <div class="book-info-label">Category:</div>
        <div class="book-info-value"><%= @book.category.name %></div>
      </div>
      <div class="book-info mb-4">
        <div class="book-info-label">Pages:</div>
        <div class="book-info-value"><%= @book.page_count %></div>
      </div>
      <div class="book-info mb-4">
        <div class="book-info-label">ISBN:</div>
        <div class="book-info-value"><%= @book.isbn %></div>
      </div>
      <div class="book-info mb-4">
        <div class="book-info-label">Language:</div>
        <div class="book-info-value"><%= @book.language %></div>
      </div>
      <div class="book-info mb-4">
        <div class="book-info-label">Publisher:</div>
        <div class="book-info-value"><%= @book.publisher.name %></div>
      </div>
      <div class="book-info-row">
        <%= reserve_book_button(@book, css_class: 'btn-primary btn-details') %>
        <%= loan_book_button(@book, css_class: 'btn-primary btn-details') %>
        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-secondary btn-edit" %>
        <%= button_to "Delete", @book, method: :delete, class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>
</div>
