<!DOCTYPE html>
<html>
  <head>
    <title>Warsztaty RoR - inFakt 2023</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class='main-header'>
      <%= link_to root_path, class: 'brand' do %>
        <i class="fa fa-book" aria-hidden="true"></i> Biblioteczka
      <% end %>
      <% if current_user %>
        <div class="user-data">
          <ul class="user-data__nav">
          </ul>
          <span class="user-data__user"><%= current_user.email %></span>
          <%= button_to('log out', destroy_user_session_path, method: :delete, class: "btn btn--logout") %>
        </div>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
